
<f:layout name="Default" />

<f:section name="Main">  
    <html>
        <body>
            <nav>
                <f:render partial="Header" arguments="{_all}" />
            </nav>

            <div id="body-content">
                <div id="elements"><f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '100'}" /></div>
            </div>

            <div id="footer">
                <f:render partial="Footer" arguments="{_all}" />
            </div>
        </body>
    </html>
</f:section>