nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: $background_dark;
    
    .navbar {
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: flex-end;

        ul { 
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            margin: 0;
    
            li {

                a {
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                        color: $base_color;
                    }
                }
            }
        }
    } 

    .logo {
        height: 120px;
        display: flex;
        align-items: center;
    }

    .login {
        svg {
            fill: $white;
            width: 35px;
            height: 35px;
            margin-left: 50px;

            &:hover {
                cursor: pointer;
                fill: $base_color;
            }
        }
    }
}