nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: $background_dark;
    
    .navbar {
        display: flex;
        height: 120px;
        align-items: center;

        ul { 
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
    
            li {
                padding: 0 20px;

                a {
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                        color: $base_color;
                    }
                }
            }
        }
    } 

    .logo {
        height: 120px;
        display: flex;
        align-items: center;
    }
}