<f:layout name="Custom-Element" />

<f:section name="Main">
    <div class="text-image-element">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 image">
                    <f:if condition="{image}">
                        <f:for each="{image}" as="image" iteration="i">
                            <f:render partial="Media/Image" arguments="{image:image}" />
                        </f:for>
                    </f:if>
                </div>
                    
                <div class="col-12 col-lg-6 text">
                    <f:if condition="{data.description}">
                        <div>
                            <f:format.html>{data.description}</f:format.html>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
    
</f:section>
