.h1 {
    font-size: calc(1.3rem + .6vw);
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--typo3-header-font-family);
    font-variant: normal;
}
.h2{
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 500;
    font-family: var(--typo3-header-font-family);
    font-variant: normal;
}
.h3{
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500;
    font-family: var(--typo3-header-font-family);
    font-variant: normal;
}
.massive {
    font-size: 2rem;
}